/* colors */
$wine = #AF1866
$blue = #1A69B5

@import "utils"

/* reset */
*
  box-sizing border-box
  margin 0
  padding 0
  
iframe
  border none
  
:link, :visited
  color inherit
  text-decoration none

html
  height 100%
  width 100%

body
  font-family -apple-system, Helvetica, Arial, sans-serif
  font-size 16px
  min-height 100%
  width 100%
  
  --wine #AF1866
  --blue #1A69B5

@import "ractives"
@import "homepage"

@import "nav"
@import "docs"
  
main
  line-height 1.5
  margin-top $top-nav-height

  :link, :visited
    color $blue
    font-weight bold

@import "footer"

// headers
h1
  margin 1em 0 .5em
  
h2
  margin 1em 0 .5em

h3
  margin 1em 0 .5em

h4
  margin 1em 0 .5em
  
main p
  margin .5em 0
  
dfn
  font-weight bold
  
.todo
  background #FDD
  border 1px solid red
  padding .5em
  color red

// lists
main
  ol, ul
    margin 1em 0 1em 2em
    
  li
    margin .5em 0

@import "code"
// @import "code-dark"

table
  border-collapse separate
  border-spacing 0
  table-border-radius 2px 2px 2px 2px

th
  background $wine
  color #FFF
    
tbody
  > tr > :first-child
    border-left 1px solid #CCC
  
  > tr > :last-child
    border-right 1px solid #CCC
  
  > tr:last-child > *
    border-bottom 1px solid #CCC

td
  padding .2em .5em

kbd
  background #DDD
  box-shadow 0 0 1px inset #0002
  padding 1px 2px

a[href^="https://github.com"]
  &::before
    background-image url("/img/github.png")
    background-size 1em 1em
    content ""
    display inline-block
    height 1em
    width 1em
    margin 0 .1em 0 .1em
    vertical-align middle

a[href^="https://www.npmjs.com"]
  &::before
    background-image url("/img/npm.png")
    background-size 1em 1em
    content ""
    display inline-block
    height 1em
    width 1em
    margin 0 .1em 0 .1em
    vertical-align middle

.warning
  background #FCC
  border 1px solid red
  padding .5em
  