doctype html
html
  head
    title= title
    
    link(href="/img/logo.png", rel="icon", type="image/png")

    link(href="/css/prism.css", rel="stylesheet", type="text/css")
    link(href="/css/style.css", rel="stylesheet", type="text/css")
    script(src="/js/prism.js")
  body
    nav
      img(alt="Ractive-Player", id="logo", src="/img/logo.png")
      ul
        li
          a(href="/") Introduction
        li
          a(href="/authoring.html") Authoring
        li
          a(href="/recording.html") Recording
        li
          a(href="/mastering.html") Mastering
    main !{content}
    script document.write(`<script src="${location.protocol}//${location.hostname}:36000/livereload.js"><` + `/script>`);
